.u-section-1 {
  background-image: url("images/default-image.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 407px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 357px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 78px 29px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 357px;
  pointer-events: auto;
  background-image: url("images/05c28eadd32efee7f05fc26f394a38a087cc12d67a02dd842201be2f2177d8541e4ca2ca0f39d37f9e1994ae174e922093409e370e522a12c70324_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 225px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 338px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 213px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 458px;
}

.u-section-2 .u-form-1 {
  height: 214px;
  margin: 353px 74px 122px 157px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 570px;
    margin-right: 0;
    margin-left: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-form-group-1 {
    width: 100%;
  }

  .u-section-2 .u-form-group-2 {
    width: 100%;
  }
}